.overlayNewGame {
    display: none;
}

.overlayNewGame.open{
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #000000a8;
    top: 0 ;
    left: 0;
    z-index: 999;
    
}
.newGame {
    display: none;
}
.newGame.open {
    position: fixed;
 
    top: 50%;
    left: 50%;
 
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 16px;
    gap: 14px;
    width: 100%;
    max-width: 592px;
    /* max-height: 304px; */
    background: #0E0E0E;
    border-radius: 6px;
    z-index: 1000;
    transform: translate(-50%, -50%);
}

/* .open {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
} */

.modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 48px 16px 16px;
    align-self: stretch;
    
    background: #534686;
    border-radius: 0px 64px 0px 0px; 
    box-sizing: border-box;   
}

.modal-header-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    /* identical to box height */
    color: #FFFFFF;
}

.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;   
    align-self: stretch;


    box-sizing: border-box;  
}

.modal-input { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 32px;
    gap: 10px;
    align-self: stretch;

    /* max-width: 560px; */
    /* max-height: 63px; */

    background: #000000;
    border: 2px solid #C8D1E6;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;

    opacity: 0.5;
    box-sizing: border-box;
}

/* .modal-password {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 32px;
    gap: 10px;
    
    width: 560px;
    height: 63px;

    background: #000000;
    border: 2px solid #C8D1E6;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;

    opacity: 0.5;
    box-sizing: border-box;
} */

.modal-SignIn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* .btn {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background: linear-gradient(99.05deg,
    #BC3CD8 0.07%, #C54B8C 106.32%);
    border-radius: 6px;
    border-color: rgb(177, 43, 226); 
    cursor: pointer;
    padding: 6px 12px;
    gap: 10px;
} */