
html {

    background: linear-gradient( 
    180deg, 
    #010208 16.39%,
    #010206 20.51%, 
    #040008 24.79%, 
    #010101 30.46%, 
    #010101 34.11%, 
    #010101 36.21%, 
    #010101 100%);

    color: #FFFFFF;

    scroll-behavior: smooth;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.btn {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background: linear-gradient(99.05deg,
    #BC3CD8 0.07%, #C54B8C 106.32%);
    border-radius: 6px;
    border-color: rgb(177, 43, 226); 
    cursor: pointer;
    padding: 6px 12px;
    gap: 10px;
}
/* --------------------- header ------------------------------ */

.header {
    padding-top: 16px;
    margin-bottom: 32px;
}

.header-wrapper {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
}
  
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;;
    column-gap: 32px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 42px; 
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.nav-link-games {
    text-decoration: none;
    color: rgb(177, 43, 226);
}

.nav-link-home::after,
.nav-link-games::after,
.nav-link-users::after {
    transition: 0.5s all;
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 2px;
    border-radius: 6px;
    height: 3px;
    width: 0;
    background-color: #fff;
}

.nav-link-home:hover::after,
.nav-link-games:hover::after,
.nav-link-users:hover::after  {
    width: 50%;
}

.nav-link-home,
.nav-link-users {
    text-decoration: none;
    color: #fff;
}

.nav-link-home:active,
.nav-link-games:active,
.nav-link-users:active {
    font-size: 15px;
    text-decoration: dotted;
}

.nav-link-home:hover,
.nav-link-users:hover {
    color: rgb(177, 43, 226);
}

.nav-btnSign-in {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background: linear-gradient(99.05deg,
    #BC3CD8 0.07%, #C54B8C 106.32%);
    border-radius: 6px;
    border-color: rgb(177, 43, 226); 
    cursor: pointer;
    padding: 10px 28px;
    gap: 10px;  
    line-height: 24px;
}

.nav-button-burger {
    display: none;
}

/* -----------------------empty games wrap */
.empty-games-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    /* height: 50vh; */
    width: 100%;
}
.empty-games-header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 64px;
    /* identical to box height, or 89% */
    
    text-align: center;
    
    color: #FFFFFF;    
}

.empty-games-description {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.empty-games-description p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
    text-align: center;
    color: #fff;
  }
  
  .empty-games-btn-singIn {
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
    text-align: center;
    text-decoration-line: underline;
    color: #bc3cd8;
    background: transparent;
    cursor: pointer;
  }
  
  .empty-games-btn-singIn:hover{
    color: #f128eb;
  }

 

/* .empty-games-description-singIn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;

    
    text-align: center;
    text-decoration-line: underline;
    color: #BC3CD8;
}

.empty-games-description-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
    text-align: center;
} */

/* ----------------- footer  ---- */


.footer {
    width: 100%;
    margin-bottom: 8px; 
    background-image: url("../assets/img/footerPointingHands.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 15px;
    border-radius: 8px;
    box-sizing: border-box;
 } 

.footer-header-text {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 26px;
    line-height: 39px; 
    margin-top: 0;
}

.footer-header-description {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    max-width: 588px;
    margin: auto;
    margin-top: 16px;
    text-align: center;
}

.footer-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 0px;
    gap: 12px; 
    padding: 4px 8px; 
    max-width: 250px;
    margin: auto;
    margin-top: 16px;
    
} 

.footer-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 6px 8px;
    isolation: isolate;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;    
    background: rgba(224, 163, 201, 0.56);
    border-radius: 8px 0px 0px 8px;
    color: rgba(255, 255, 255, 0.56);
}

.footer-btnStart {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background: linear-gradient(99.05deg,
    #BC3CD8 0.07%, #C54B8C 106.32%);
    border-radius: 0px 8px 8px 0px;
    border-color: rgb(177, 43, 226); 
    cursor: pointer;
    padding: 5px 12px;
    gap: 10px;
}


/* .footer {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px; 
    mix-blend-mode: difference;
    border-radius: 0px 8px 8px 0px;
    position: relative;
    gap: 16px; 
    overflow: hidden;
 } 

.footer-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
}

.footer-header-text {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
}

.footer-header-description {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

.footer-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px; 
}

.footer-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding: 4px 8px;
    isolation: isolate;
    background: rgba(224, 163, 201, 0.56);
    border-radius: 8px 0px 0px 8px;
} */
