/* 
@media (max-width: 760px) {
    .hero {
        flex-direction: column-reverse;
    }
    .hero-wrap-left {
        margin-top: 20px;
        align-items: center;
    }
    .hero-title {
        text-align: center;
    }
    .hero-description {
        text-align: center;
    }
    .footer {
        padding: 40px 15px;
    }
    
}

@media (max-width: 720px) {
    .experience-wrap {
        flex-direction: column;
    }
    .experience-wrapr-right {
        text-align: center;
        align-items: center;
        max-width: 550px;
    }
   
}

@media (max-width: 600px) {
    .awesome {
        flex-direction: column;
    }
    .awesome-text {
        text-align: center;
    }

    .company-values {
        flex-direction: column;
    }
    .company-values-info {
        text-align: center;
    }
    .footer {
        padding: 20px 15px;
    }   
}

@media (max-width: 500px) {
    .footer {
        padding: 10px 15px;
    }   
    .footer-header-description {
        margin-top: 10px;
    }
    .footer-form {
        margin-top: 10px;
    }
} */