/* *, {
    box-sizing: border-box;    
} */

html {

    background: linear-gradient( 
        180deg, 
        #010208 16.39%,
        #010206 20.51%, 
        #040008 24.79%, 
        #010101 30.46%, 
        #010101 34.11%, 
        #010101 36.21%, 
        #010101 100%);

    color: #FFFFFF;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.btn {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background: linear-gradient(99.05deg,
    #BC3CD8 0.07%, #C54B8C 106.32%);
    border-radius: 6px;
    border-color: rgb(177, 43, 226); 
    cursor: pointer;
    padding: 6px 12px;
    gap: 10px;
}
/* --------------------- header ------------------------------ */

.header {
    position: sticky;
    top: 0px;
    padding-top: 16px;
    margin-bottom: 32px;
    background:  #010208d0 16.39%;
    z-index: 100;
}

.header-wrapper {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
}
  
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;;
    column-gap: 32px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 42px; 
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.nav-link-users {
    text-decoration: none;
    color: rgb(177, 43, 226);
}

.nav-link-home::after,
.nav-link-games::after,
.nav-link-users::after {
    transition: 0.5s all;
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 2px;
    border-radius: 6px;
    height: 3px;
    width: 0;
    background-color: #fff;
}

.nav-link-home:hover::after,
.nav-link-games:hover::after,
.nav-link-users:hover::after  {
    width: 50%;
}

.nav-link-home,
.nav-link-games {
    text-decoration: none;
    color: #fff;
}

.nav-link-home:active,
.nav-link-games:active,
.nav-link-users:active {
    font-size: 15px;
    text-decoration: dotted;
}

.nav-link-home:hover,
.nav-link-games:hover {
    color: rgb(177, 43, 226);
}

.nav-btnSign-in {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background: linear-gradient(99.05deg,
    #BC3CD8 0.07%, #C54B8C 106.32%);
    border-radius: 6px;
    border-color: rgb(177, 43, 226); 
    cursor: pointer;
    padding: 10px 28px;
    gap: 10px;  
    line-height: 24px;
}

.nav-button-burger {
    display: none;
}

  /* authed header */

  .authed-header {
    display: none;
  }
  
  .authed-header-menu-wrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    padding-top: 34px;
    padding-bottom: 16px;
    padding-left: 16px;
    width: 100%;
    max-width: 135px;
    top: 100px;
    right:140px;
    gap: 4px;
    background: #000000;
    border: 1px solid #bc3cd8;
    border-radius: 6px;
  }
  
  .authed-header-arrow {
    position: absolute;
    display: block;
    top: 10%;
    right: 10%;
    background: rgba(14, 14, 14, 1);
    height: 5px;
    width: 5px;
    /* border: px solid; */
    pointer-events: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #bc3cd8;
  }
  
  .authed-header-btn {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
  }
  
  .authed-header-btn-img {
    width: 32px;
  }
  
  .authed-header-menu-wrap button {
    text-decoration: none;
    padding: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.022em;
    color: #f2f2f2;
    background: transparent;
    border-color: transparent;
  }
  
  .authed-header-menu-wrap button:hover {
    font-weight: 800;
    cursor: pointer;
  }
  
  .authed-header-menu-wrap p {
    display: flex;
    align-items: flex-start;
    transition: transform 0.5s;
  }
  
  .authed-header-menu-wrap p:hover {
    transform: translateX(5px);
  }
  
  .authed-header-menu-wrap a {
    display: flex;
    align-items: flex-start;
    color: #f2f2f2;
    transition: transform 0.5s;
  }
  
  .authed-header-menu-wrap a:hover {
    transform: translateX(5px);
  }

  .hidden {
    display: none;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 50;
  }

/* -- ------------- users header -----------> */

.users-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    /* gap: 161px; */
    margin-bottom: 32px;
    
    align-self: stretch;
}

.users-header-text {
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    /* display: flex; */
    /* align-items: center; */
}

.users-header-controll {
    display: flex;
    align-items: center;
}

.select-users-role {
    position: relative;
    margin-left: 32px;
}
  
.select-option-users-role-arrow {
    position: absolute;
    display: block;
    top: 18px;
    right: 16px;
    background: #0e0e0e;
    max-width: 5px;
    max-height: 10px;
    border: 1px solid;
    border-radius: 4px;
    pointer-events: none;
}
    
.select-option-users-role-arrow::before,
.select-option-users-role-arrow::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
    
.select-option-users-role-arrow::before {
    border-top: 5px solid #bc3cd8;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
  
.reset-button {
      display: none;
      height: 30px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
      background: rgba(14, 14, 14, 1);
      border-radius: 6px;
      border: none;
      cursor: pointer;
}
  
.reset-btn{
      max-width: 30px;
}
  
.btnSelectRole {
    display: flex;
    align-items: center;
    width: 160px;
    height: 40px;
    padding-left: 20px;
    appearance: none;
    border: 1px solid #bc3cd8;
    border-radius: 6px;
    background: #0e0e0e;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: #ffffff;
    cursor: pointer;
}

         /* -------users section  ------- */
.user-list-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0px;
    gap: 32px; */
    margin-bottom: 32px;
    width: 100%;
    /* text-align: -webkit-center; */
    overflow-x: hidden;
    overflow-y: hidden; 
}

.users-list-class {
    width: 100%;
    max-width: 928px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    width: 1000px;
 
}

    .users-list-class tr{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* align-self: stretch;   */
    /* scroll-behavior: auto; */
    /* scroll-behavior: smooth; */
}

.users-list-class tbody {
    width: fit-content;
    text-align: center;
    /* overflow-x: hidden; */
    /* padding-bottom: 28px; */
}

.users-list-class th {
    padding-bottom: 28px;
}


.users-list-class td {
    vertical-align: middle;
}

.users-list-img {
    width: 44px;
    height: 44px;
}

.users-dots {
    position: relative;
    padding: 8px 14px;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.users-list-dots:hover {
    filter: invert(58%) sepia(100%) saturate(7480%) hue-rotate(280deg) brightness(96%) contrast(110%);
} 

.role {
    position: absolute;
    padding: 16px 16px;
    width: 116px;
    background: #010101;
    border: 1px solid #BC3CD8;
    border-radius: 6px;
    top: 250px;
    right: 400px;
    z-index: 120;
}

.role-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.role-list a {
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 0%;
    padding: 8px 14px;
    
    border-radius: 6px;
    background-color: #010101;
    color: #fff;
    
}

.role-item button {
    list-style: none;
    flex-direction: column;
    text-decoration: none;
    padding: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #f2f2f2;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .role-item button:hover {
    color: #919eab;
  }
  
/* ----------------- pagination ----- */

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    gap: 8px;
    margin-bottom: 32px;
}

.pagination-btn {
    /* background: #FFFFFF; */
    border: 1px solid #DFE3E8;
    border-radius: 4px; 
    /* left: 4px;
    right: 4px;
    top: 5px; */
    bottom: 5px;
    width: 32px;
    height: 32px;
    
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.btn--active {
    border: 1px solid #BC3CD8;
    border-radius: 4px;
    color: #BC3CD8;
}

.pagination button:hover {
    background: #d2d2d2;
}

.pagination .btn--active:hover {
    background: #ffffff;
}

.pagination .btn--disabled:hover {
    background: #ffffff;
}

/* ----------------- footer  ---- */

.footer {
    width: 100%;
    margin-bottom: 8px; 
    background-image: url("../assets/img/footerPointingHands.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 15px;
    border-radius: 8px;
    box-sizing: border-box;
 } 

.footer-header-text {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 26px;
    line-height: 39px; 
    margin-top: 0;
}

.footer-header-description {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    max-width: 588px;
    margin: auto;
    margin-top: 16px;
    text-align: center;
}

.footer-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px; 
    column-gap: 12px;
    padding: 4px 8px; 
    max-width: 250px;
    margin: auto;
    margin-top: 16px;
} 

.footer-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 0px;
    gap: 12px; 
    padding: 4px 8px; 
    max-width: 250px;
    margin: auto;
    margin-top: 16px;
    
} 

.footer-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 6px 8px;
    isolation: isolate;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;    
    background: rgba(224, 163, 201, 0.56);
    border-radius: 8px 0px 0px 8px;
    color: rgba(255, 255, 255, 0.56);
}

.footer-btnStart {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background: linear-gradient(99.05deg,
    #BC3CD8 0.07%, #C54B8C 106.32%);
    border-radius: 0px 8px 8px 0px;
    border-color: rgb(177, 43, 226); 
    cursor: pointer;
    padding: 5px 12px;
    gap: 10px;
}

.hidden {
    display: none;
  }