 /* *, {
    box-sizing: border-box;    
}  */

html {

    background: linear-gradient( 
        180deg, 
        #010208 16.39%,
        #010206 20.51%, 
        #040008 24.79%, 
        #010101 30.46%, 
        #010101 34.11%, 
        #010101 36.21%, 
        #010101 100%);

        color: #FFFFFF;

    scroll-behavior: smooth;

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.btn {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background: linear-gradient(99.05deg,
    #BC3CD8 0.07%, #C54B8C 106.32%);
    border-radius: 6px;
    border-color: rgb(177, 43, 226); 
    cursor: pointer;
    padding: 6px 12px;
    gap: 10px;
}
/* --------------------- header ------------------------------ */

.header {
    position: sticky;
    top: 0px;
    padding-top: 16px;
    margin-bottom: 32px;
    background:  #010208d0 16.39%;
    z-index: 100;
}

.header-wrapper {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
}
  
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;;
    column-gap: 32px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 42px; 
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.nav-link-games {
    text-decoration: none;
    color: rgb(177, 43, 226);
}

.nav-link-home::after,
.nav-link-games::after,
.nav-link-users::after {
    transition: 0.5s all;
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 2px;
    border-radius: 6px;
    height: 3px;
    width: 0;
    background-color: #fff;
}

.nav-link-home:hover::after,
.nav-link-games:hover::after,
.nav-link-users:hover::after  {
    width: 50%;
}

.nav-link-home,
.nav-link-users {
    text-decoration: none;
    color: #fff;
}

.nav-link-home:active,
.nav-link-games:active,
.nav-link-users:active {
    font-size: 15px;
    text-decoration: dotted;
}

.nav-link-home:hover,
.nav-link-users:hover {
    color: rgb(177, 43, 226);
}

.nav-btnSign-in {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background: linear-gradient(99.05deg,
    #BC3CD8 0.07%, #C54B8C 106.32%);
    border-radius: 6px;
    border-color: rgb(177, 43, 226); 
    cursor: pointer;
    padding: 10px 28px;
    gap: 10px;  
    line-height: 24px;
}

.nav-button-burger {
    display: none;
}

  /* authed header */

  .authed-header {
    display: none;
  }
  
  .authed-header-menu-wrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    padding-top: 34px;
    padding-bottom: 16px;
    padding-left: 16px;
    width: 100%;
    max-width: 135px;
    top: 100px;
    right:140px;
    gap: 4px;
    background: #000000;
    border: 1px solid #bc3cd8;
    border-radius: 6px;
  }
  
  .authed-header-arrow {
    position: absolute;
    display: block;
    top: 10%;
    right: 10%;
    background: rgba(14, 14, 14, 1);
    height: 5px;
    width: 5px;
    /* border: px solid; */
    pointer-events: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #bc3cd8;
  }
  
  .authed-header-btn {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
  }
  
  .authed-header-btn-img {
    width: 32px;
  }
  
  .authed-header-menu-wrap button {
    text-decoration: none;
    padding: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.022em;
    color: #f2f2f2;
    background: transparent;
    border-color: transparent;
  }
  
  .authed-header-menu-wrap button:hover {
    font-weight: 800;
    cursor: pointer;
  }
  
  .authed-header-menu-wrap p {
    display: flex;
    align-items: flex-start;
    transition: transform 0.5s;
  }
  
  .authed-header-menu-wrap p:hover {
    transform: translateX(5px);
  }
  
  .authed-header-menu-wrap a {
    display: flex;
    align-items: flex-start;
    color: #f2f2f2;
    transition: transform 0.5s;
  }
  
  .authed-header-menu-wrap a:hover {
    transform: translateX(5px);
  }

  .hidden {
    display: none;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 50;
  }


/* -- -------------  games header -----------> */

.games-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    gap: 161px;
    margin-bottom: 32px;
}
.games-header-text {
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
}

.games-header-controll {
  display: flex;
  align-items: center;
}

.select-game-date {
  position: relative;
  margin-left: 32px;
}
.select-option-game-date-arrow {
  position: absolute;
  display: block;
  top: 18px;
  right: 16px;
  background: #0e0e0e;
  max-width: 5px;
  max-height: 10px;
  border: 1px solid;
  border-radius: 4px;
  pointer-events: none;
 }
  
.select-option-game-date-arrow::before,
.select-option-game-date-arrow::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
  
.select-option-game-date-arrow::before {
  border-top: 5px solid #bc3cd8;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.reset-button {
    display: none;
    height: 55px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background: rgba(14, 14, 14, 1);
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.reset-btn{
    max-width: 50px;
}

.btnSelectData {
  display: flex;
  align-items: center;
  width: 160px;
  height: 40px;
  padding-left: 20px;
  appearance: none;
  border: 1px solid #bc3cd8;
  border-radius: 6px;
  background: #0e0e0e;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #ffffff;
  cursor: pointer;
}


/* ------------ games section ------- */

.games-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    gap: 28px;
    margin-bottom: 32px;
    
    
}
.game-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.349);
    cursor: pointer;
    /* transition: transform 0.2s linear; */
}
.game-img {
    position: relative;
    max-width: 100%;
    width: 290px;
    height: 200px;
    background-position: center;
}

.game-img:hover {
    transform: translateY(-55px);
}
.card-wrap-text {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    gap: 16px;
    width: 100%;
    height: 100%;
    max-height: 64px;
    /* width: 290px; */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), rgba(170, 20, 240, 0.75);
    border-radius: 0px 0px 8px 8px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* text-decoration-line: underline; */
}

.card-wrap-text-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    
}

.card-wrap-text-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
}

/* ----------------- pagination ----- */

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    gap: 8px;
    margin-bottom: 32px;
    
}

.pagination-btn {
    /* background: #FFFFFF; */
    border: 1px solid #DFE3E8;
    border-radius: 4px; 
    /* left: 4px;
    right: 4px;
    top: 5px; */
    bottom: 5px;
    width: 32px;
    height: 32px;
    
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.btn--active {
    border: 1px solid #BC3CD8;
    border-radius: 4px;
    color: #BC3CD8;
}

.pagination button:hover {
    background: #d2d2d2;
}
.pagination .btn--active:hover {
    background: #ffffff;
}
.pagination .btn--disabled:hover {
    background: #ffffff;
}
/* ----------------- footer  ---- */

.footer {
    width: 100%;
    margin-bottom: 8px; 
    background-image: url("../assets/img/footerPointingHands.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 15px;
    border-radius: 8px;
    box-sizing: border-box;
 } 

.footer-header-text {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 26px;
    line-height: 39px; 
    margin-top: 0;
}

.footer-header-description {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    max-width: 588px;
    margin: auto;
    margin-top: 16px;
    text-align: center;
}

.footer-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 0px;
    gap: 12px; 
    padding: 4px 8px; 
    max-width: 250px;
    margin: auto;
    margin-top: 16px;
    
} 

.footer-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 6px 8px;
    isolation: isolate;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;    
    background: rgba(224, 163, 201, 0.56);
    border-radius: 8px 0px 0px 8px;
    color: rgba(255, 255, 255, 0.56);
}

.footer-btnStart {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background: linear-gradient(99.05deg,
    #BC3CD8 0.07%, #C54B8C 106.32%);
    border-radius: 0px 8px 8px 0px;
    border-color: rgb(177, 43, 226); 
    cursor: pointer;
    padding: 5px 12px;
    gap: 10px;
}

/* .hidden {
    display: none;
  } */